@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin gradientBackGroundText {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
}

@mixin centerContent {
  @include centerContentWithGivenTopAndLeft(50%, 50%);
}

@mixin centerContentWithGivenTopAndLeft($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin centerContentWithGivenTop($top) {
  @include centerContentWithGivenTopAndLeft($top, 50%);
}
